<div class="column">
  <div>
    <h1>Reset Your Password</h1>
  </div>
  <%= form_tag(password_reset_path, { method: 'put' }) do -%>
    <div class="row">
      <div class="medium-6 columns password-field">
        <%= password_field_tag :password, nil, required: true, placeholder: 'Password', autocomplete: 'off', class: 'radius' %>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 columns">
        <%= button_tag 'Change Password', class: 'button' %>
      </div>
    </div>
    <%= hidden_field_tag :expires, params[:expires] %>
    <%= hidden_field_tag :signature, params[:signature] %>
    <%= hidden_field_tag :username, params[:username] %>
    <%= hidden_field_tag :email, params[:email] %>
  <% end -%>
</div>
