<h1>Please Sign In</h1>
<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, :class => 'form-control' %>
  </div>
  <%= f.submit "Sign In", class: "btn btn-large btn-primary" %>
<% end %>