<div class="medium-12 columns">
  <h3>Change Your Password</h3>
  <%= form_tag(password_profile_path, {:method => 'put'}) do -%>
    <div class="row">
      <div class="column">
        <%= error_message_for(@user, :base) %>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <label>Current Password</label>
        <%= password_field_tag :current_password, nil, :required => true, :class => 'radius' %>
        <%= error_message_for(@user, :current_password) %>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <label>New Password</label>
        <%= password_field_tag :new_password, nil, :required => true, :class => 'radius' %>
        <%= error_message_for(@user, :new_password) %>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <label>Confirm Password</label>
        <%= password_field_tag :password_confirmation, nil, :required => true, :class => 'radius' %>
        <%= error_message_for(@user, :password_confirmation) %>
      </div>
    </div>
    <div>
      <button type="submit" class="button">Change Password</button>
    </div>
  <% end -%>
</div>
