<h3>Profile</h3>
<%= form_for(@user, :url => :profile, :method => :put, :html => {'data-abide' => ''}) do |f| %>
  <div class="row">
    <div class="medium-12 columns">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, :required => true, :class => 'radius' %>
      <small class="error">Required</small>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <%= f.label :middle_name %>
      <%= f.text_field :middle_name, :class => 'radius' %>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, :required => true, :class => 'radius' %>
      <small class="error">Required</small>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <%= f.submit 'Save Changes', :class => 'button' %>
    </div>
  </div>
<% end %>
